@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

main {
    display: block;
    padding: auto;
    box-sizing: border-box;
    
}

.backdrop img {
   display: block;
    opacity: 0.9;
    width: 100%;
}

.explore {
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: 100px;
}
.content-title {
    margin-top: 60px;
    color: #1424d4;
    text-shadow: 0 5px 10px rgba(0, 0, 0,.2);
    font-family: "Montserrat", sans-serif;
    font-weight: 400px;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
}

.box-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 15px;
}

.box {
    box-shadow: 0 5px 10px rgba(0, 0, 0,.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 10px 0px; 
}

.box img {
    height: 190px;
}

.box h3 {
    color: #444;
    font-size: 22px;
    padding: 22px 0;
}

.box p {
    color: #777;
    font-size: 15px;
    line-height: 1.8;
    margin-left: 10px;
    margin-right: 10px;
}

.box .btn {
    margin-top: 10px;
    display: inline-block;
    background: #1ea9e9;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.box .btn:hover{
    background: #014362;
    transition: all 0.3s ease 0s;
}