@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.block {
    display: block;
    padding: auto;
    box-sizing: border-box;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 50,0.8), rgba(0, 0, 50,0.8)),url(/source/signup-backdrop.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.block1 {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    background-color: rgba(255, 255, 255, 0.7);
}

.block1 h1 {
    padding: 20px;
    text-align: center;
    color: #3c00a0;
}
.photo {
    display: block;
    width: 150px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.photo img {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.block1 p {
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    

}

.btn-logout {
    display: block;
    margin-bottom: 20px;
    
    
}

.btn-logout input {
    width: 150px;
    height: 40px;
    border-radius: 30px;
    border: 0;
    color: white;
    background-color: red;
    margin-left: 80%;
    transition: all 0.8s ease 0s;
}

.btn-logout input:hover {
    scale: 110%;
    cursor: pointer;
}
